<ng-container *ngIf="showTitle">
    <app-form-title [titulo]="titulo" [addButtonText]="textoboton" [showAddButton]="mostrarboton" (addEvent)="onAddProp($event)" ></app-form-title>
</ng-container>
<ng-container *ngIf="showTable">
    <app-contract-table [tipo]="tipotabla" (editEvent)="onEditProp($event)" (viewEvent)="onViewProp($event)"></app-contract-table>
</ng-container>
<ng-container *ngIf="showForm">
    <app-contract-form [propiedad]="propiedadSel" [contrato]="contratoSel" (returnEvent)="onReturn($event)" [operacion]="tipoOperacion"></app-contract-form>
</ng-container>
